@charset "utf-8";

div#navi-root {
  .navi-hero {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
  }
  &.navi-collapsed .navi-hero {
    z-index: 1000;
    .navi-logo {
      padding-top: 200px;
    }
  }
  &.navi-collapsed .navi-nav {
    z-index: 500;
  }
  &.navi.navi-expanded {
    nav.navbar {
      background: none;
    }
    .navi-hero {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      color: white;
    }
  }

  &.navi.navi-collapsed .navi-hero {
    background: none;
    height: 52px;
  }

  #navi-content {
    &.collapsed {
      padding-top: 52px;
    }

    padding-top: calc(100vh - 52px);
  }
}
