@charset "utf-8";

@keyframes herobg {
  0% {
    background-color: black;
  }
  15% {
    background-color: #2364aa;
  }
  22% {
    background-color: black;
  }
  30% {
    background-color: #3da5d9;
  }
  37% {
    background-color: black;
  }
  45% {
    background-color: #73bfb8;
  }
  52% {
    background-color: black;
  }
  60% {
    background-color: #fec601;
  }
  67% {
    background-color: black;
  }
  75% {
    background-color: #ea7317;
  }
  82% {
    background-color: black;
  }
  90% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

@-moz-keyframes herobg /* Firefox */ {
  0% {
    background-color: black;
  }
  15% {
    background-color: #2364aa;
  }
  22% {
    background-color: black;
  }
  30% {
    background-color: #3da5d9;
  }
  37% {
    background-color: black;
  }
  45% {
    background-color: #73bfb8;
  }
  52% {
    background-color: black;
  }
  60% {
    background-color: #fec601;
  }
  67% {
    background-color: black;
  }
  75% {
    background-color: #ea7317;
  }
  82% {
    background-color: black;
  }
  90% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

@-webkit-keyframes herobg /* Safari and Chrome */ {
  0% {
    background-color: black;
  }
  15% {
    background-color: #2364aa;
  }
  22% {
    background-color: black;
  }
  30% {
    background-color: #3da5d9;
  }
  37% {
    background-color: black;
  }
  45% {
    background-color: #73bfb8;
  }
  52% {
    background-color: black;
  }
  60% {
    background-color: #fec601;
  }
  67% {
    background-color: black;
  }
  75% {
    background-color: #ea7317;
  }
  82% {
    background-color: black;
  }
  90% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

div#navi-root {
  .navi-hero {
    background-color: rgba(0, 0, 0, 0);
    animation: herobg 8s;
    -moz-animation: herobg 8s infinite; /* Firefox */
    -webkit-animation: herobg 8s infinite;
  }
  &.navi.navi-expanded {
    nav.navbar {
    }
    .navi-hero {
      // background-color: red;
    }
  }

  &.navi.navi-collapsed .navi-hero {
    background: none;
    animation: none;
    .navi-logo {
      width: 100%;
      display: block;
      height: 52px;
      transition: all 0.2s;
      img {
        transition: all 0.2s ease-in-out;
        width: 72px;
      }
    }
  }

  .navi-logo {
    &.collapsed {
      height: 50px;
      width: 85px;
      padding-top: 0px;
      margin-top: 15px;
    }

    padding-top: 40vh;
    transition: all 0.2s ease-in-out;

    &.scrolling img {
    }
  }

  .navi-logo img {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    height: auto;
    width: 30vw;
  }
}
