@charset "utf-8";

div#navi-root {
  .navi-hero {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
  }
  &.navi.navi-expanded {
    nav.navbar {
      background: none;
    }
    .navi-hero {
      position: absolute;
      top: 0;
      left: 0;
      background-color: cyan;
      height: 100vh;
    }
  }

  &.navi.navi-collapsed .navi-hero {
    background: none;
    height: 52px;
  }
}
